In [4]:
##1. Write a Python program to sum all the items Sample Output [1,7,-10,34,2,-8]
Sum all the items = 26

Numbers = [1,7,-10,34,2,-8]
sum_of_items = sum(Numbers)
print("sum all the items =", sum_of_items)

sum all the items = 26

In [5]:
##2. Write a Python program to multiply all the items in a list Sample Output [3,4,5,4,7]
Multiply all the items in a list : 1680

numbers = [3, 4, 5, 4, 7]
result = 1
for num in numbers:
    result *= num
print("Multiply all the items in a list:", result)

Multiply all the items in a list: 1680

In [6]:
##3. Write a Python program to get the largest number from a list Sample Output
[1,7,10,34,2,8]
Largest Number : 34

numbers = [1, 7, 10, 34, 2, 8]
largest_number = max(numbers)
print("Largest Number:", largest_number)

Largest Number: 34

In [7]:
##4. Write a Python program to get the smallest number from a list Sample Output
[51,7,10,34,2,8]
Smallest Number : 2

numbers = [51, 7, 10, 34, 2, 8]
smallest_number = min(numbers)
print("Smallest Number: ",smallest_number)

Smallest Number:  2

In [9]:
##5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
Sample Output
['abc', 'xyz', 'aba', '1221']
First and Last Character are same : 2
    
    
strings = ['abc', 'xyz', 'aba', '1221']
count = 0
for s in strings:
    if len(s) >= 2 and s[0] == s[-1]:
        count += 1
print("First and Last Character are same:", count)

First and Last Character are same: 2

In [10]:
##6. Write a Python program to remove duplicates from a list Sample Output
[1,2,3,7,2,1,5,6,4,8,5,4]
{1,2,3,4,5,6,7,8}


A = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]
unique_set = set(A)
unique_list = list(unique_set)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
###7. Write a Python program to check a list is empty or not Sample Output
[34,45,6,5,4,56,7]
List is Not Empty



b = [34, 45, 6, 5, 4, 56, 7]
if b:
    print("List is Not Empty")

List is Not Empty

In [12]:
##8. Write a Python program to clone or copy a list Sample Output
[10, 22, 44, 23, 4]
Clone or Copy a List : [10, 22, 44, 23, 4]


list = [10, 22, 44, 23, 4]
b = list[:]
print("Clone or Copy a List:", b)

Clone or Copy a List: [10, 22, 44, 23, 4]

In [13]:
### 9. Write a Python program to find the list of words that are longer than n from a given list of words
Sample Output 
Find the List of Words that are Longer than n from a given List of Words Given value of n = 4 
['Words', 'Longer', 'given', 'Words'] 


word_list = ['Find', 'the', 'List', 'of', 'Words', 'that', 'are', 'Longer', 'than', 'n', 'from', 'a', 'given', 'List', 'of', 'Words']
n = 4
longer_words = [word for word in word_list if len(word) > n]
print("Find the List of Words that are Longer than n from a given List of Words")
print("Given value of n =", n)
print(longer_words)

Find the List of Words that are Longer than n from a given List of Words
Given value of n = 4
['Words', 'Longer', 'given', 'Words']

In [15]:
##10. Write a Program that get two lists as input and check if they have at least one common member
Sample Output 
[1,2,3,4,5] 
[5,6,7,8,9] 
Lists have at least one common member

a = input("Enter the first list: ").split()
b = input("Enter the second list: ").split()
a = [int(item) for item in a]
b = [int(item) for item in b]
common_member = any(item in a for item in b)
if common_member:
    print("Lists have at least one common member")
else:
    print("Lists do not have a common member")

Enter the first list: 25
Enter the second list: 12
Lists do not have a common member

In [8]:

####11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. (enumerate)
##Sample Output 
###["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] ['Dog', 'Elephant', 'Fox', 'Ponda'] 


a = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
remove = [0, 4, 5]
filtered_list = remove_elements_by_indices(a, remove)
print(a)
print(filtered_list)

NameError: name 'remove_elements_by_indices' is not defined

In [9]:
#### 12. Write a Python program to print the numbers of a specified list after removing even numbers from it
Sample Output 
[7,32,81,20,25,14,23,27] [7, 81, 25, 23, 27] 



my_list = [7, 32, 81, 20, 25, 14, 23, 27]
filtered_list = remove_even_numbers(my_list)
print(my_list)
print(filtered_list)

NameError: name 'remove_even_numbers' is not defined

In [12]:
### 13. Write a Python program to shuffle and print a specified list (shuffle) 
Sample Output
["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
['Fox', 'Cat', 'Tiger', 'Lion', 'Dog', 'Ponda', 'Elephant']


import random
x = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
random.shuffle(x)
print(x)

['Fox', 'Elephant', 'Lion', 'Dog', 'Ponda', 'Cat', 'Tiger']

In [13]:
###14. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30
Sample Output 
First 5 elements : [1, 4, 9, 16, 25] 
Last 5 elements : [625, 676, 729, 784, 841]
    
    
squares_list = [x ** 2 for x in range(1, 31)]
first_5_elements = squares_list[:5]
last_5_elements = squares_list[-5:]
print("First 5 elements:", first_5_elements)
print("Last 5 elements:", last_5_elements)

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

In [15]:
####15. Write a Python program to generate all permutations of a list in Python. (itertools) Sample Output
[1,2,3]
[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]


import itertools
my_list = [1, 2, 3]
permutations = list(itertools.permutations(my_list))
print(permutations)

TypeError: 'list' object is not callable

In [16]:

####16. Write a Python program to convert a list of characters into a string 
Sample Output
['T','u','t','o','r',' ','J','o','e','s']
Tutor Joes


a = ['T','u','t','o','r',' ','J','o','e','s']
b = ''.join(a)
print(b)

Tutor Joes

In [17]:
### 17. Write a Python program to find the index of an item in a specified list Sample Output
[20, 70, 30, 90, 10, 30, 90, 10, 80]
Item to find the index of 30
Index Number of Item = 2


my_list = [20, 70, 30, 90, 10, 30, 90, 10, 80]
item_to_find = 30
if item_to_find in my_list:
    index_number = my_list.index(item_to_find)
    print("Index Number of Item =", index_number)
else:
    print("Item not found in the list.")

Index Number of Item = 2

In [18]:
####18. Write a Python program to flatten a shallow list Sample Output
[[20,30,70],[30,90,10], [30,20], [70,90,10,80]]
[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

shallow_list = [[20, 30, 70], [30, 90, 10], [30, 20], [70, 90, 10, 80]]
flattened_list = [item for sublist in shallow_list for item in sublist]
print(flattened_list)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [19]:
####19. Write a Python program to add a list to the second list Sample Output
[10, 20, 30, 40]
["Cat", "Dog", "Lion", "Ponda"]
[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

list1 = [10, 20, 30, 40]
list2 = ["Cat", "Dog", "Lion", "Ponda"]
result = list1 + list2
print(result)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [20]:
####20. Write a Python program to select an item randomly from a list Using random.choice() 
Sample Output
["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
Item randomly from a list : Fox

a = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
random_item = random.choice(a)
print("Item randomly from a list:", random_item)

Item randomly from a list: Cat

In [23]:
####21. Write a python program to check whether two lists are circularly identical 
Sample Output
[8, 8, 12, 12, 8]
[8, 8, 8, 12, 12]
[1, 8, 8, 12, 12]
Compare List1 and List2 : True
Compare List1 and List3 : False

list1 = [8, 8, 12, 12, 8]
list2 = [8, 8, 8, 12, 12]
list3 = [1, 8, 8, 12, 12]
result1 = compare(list1, list2)
print(f"Compare List1 and List2: {result1}")
result2 = compare(list1, list3)
print(f"Compare List1 and List3: {result2}")

SyntaxError: invalid syntax (3923919662.py, line 2)

In [28]:
###22. Write a Python program to find the second smallest number in a list Sample Output
##[2,4,56,78,4,34,5,8,9]
##Second Smallest Number : 4

def find_second_smallest(numbers):
numbers = [2, 4, 56, 78, 4, 34, 5, 8, 9]
second_smallest = find_second_smallest(numbers)
if second_smallest is not None:
    print(f"Second Smallest Number: {second_smallest}")
else:
    print("The list does not have a second smallest number.")

IndentationError: expected an indented block after function definition on line 5 (1142656126.py, line 6)

In [31]:
###23. Write a Python program to find the second largest number in a list Sample Output
[82,4,56,78,4,34,5,100,9]
Second Largest Number : 82
    
    
num = [ 82,4,56,78,4,34,5,100,9]
if (len(num)<2):
  print(num)
if ((len(num)==2)  and (num[0] == num[1]) ):
  print(num)
dup_items = set()
uniq_items = []
for x in num:
  if x not in dup_items:
    uniq_items.append(x)
    dup_items.add(x)
uniq_items.sort()    
print(uniq_items[-2])

82

In [39]:
###24. Write a Python program to get unique values from a list Sample Output
##[82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
##[34, 4, 5, 9, 10, 78, 82, 56]


l = [82,4,10,56,78,4,34,5,10,9]
p = [34, 4, 5, 9, 10, 78, 82, 56]
print("Original List : ",l,p)
s = set(l)
new_list = list(s)
print("Unique Numbers : ",new_list)

Original List :  [82, 4, 10, 56, 78, 4, 34, 5, 10, 9] [34, 4, 5, 9, 10, 78, 82, 56]

TypeError: 'list' object is not callable

In [40]:
###25. Write a Python program to get the frequency of the elements in a list. Sample Output
###[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
###Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

import collections
l = [10,30,50,10,20,60,20,60,40,40,50,50,30]
print("Original List : ",l)
f = collections.Counter(l)
print("Frequency of the Elements: ",f)

Original List :  [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
Frequency of the Elements:  Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [41]:
###26. Create a list by concatenating a given list which range goes from 1 to n Sample Output
##['T', 'J']
##N = 10
##['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

ch = ['T', 'J']
n = 10
new_list = ['{}{}'.format(a, b) for b in range(1, n+1) for a in ch]
print(new_list)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [47]:
###27. Write a Python program to get variable unique identification number or string Sample Output
##x = 30
##s = "Tutor Joes"
##Unique Identification Number : 7005f980
##Unique Identification String : c24bb0


x = 30
print(format(id(x), 'x'))
s = "Tutor Joes"
print(format(id(s), 'x'))

7ffee2c396c8
14b076febf0

In [48]:
###28. Write a Python program to find common items from two lists Sample Output
[23,45,67,78,89,34]
[34,89,55,56,39,67]
Common items from two lists : {89, 34, 67}

num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
print(set(num1) & set(num2))

{89, 34, 67}

In [49]:
####29. Write a Python program to split a list based on first character of word Sample Output
["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]


from itertools import groupby
from operator import itemgetter
a = ["cat","dog","cow","tiger","lion","Fox","Shark","Snake","turtle","mouse","monkey","bear"]
 
for ltr, wds in groupby(sorted(a), key=itemgetter(0)):
    print(ltr)
    for w in wds:
    print(" ",w)
    print("")

F
  Fox

S
  Shark
  Snake

b
  bear

c
  cat
  cow

d
  dog

l
  lion

m
  monkey
  mouse

t
  tiger
  turtle

In [51]:
##30. Write a Python program to select the odd number of a list
##Sample Output
##[1,2,4,3,6,7,5,8,9,7,8,9,10]
##[1, 3, 7, 5, 9, 7, 9]

a=[1,2,4,3,6,7,5,8,9,7,8,9,10]
odd_num=[]
for i in a:
    if(i%2==1):
      #print(i)
     odd_num.append(i)
print(odd_num)

[1, 3, 7, 5, 9, 7, 9]

In [52]:
##31. Write a Python Program to count unique values inside a list
##Sample Output
##[10, 20, 30, 50, 80, 70, 70, 80, 10]
## No of Unique Items in List : 6

a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
s = set(a)
print("No of Unique Items in List :", len(s))

No of Unique Items in List : 6

In [59]:
###32. Write a Python Program to List product excluding duplicates Sample Output
###[2, 1, 2, 4, 6, 4, 3, 2, 1]
##Duplication removal list product : 144


a = [2,1,2,4,6,4,3,2,1]
print ("Original list : " + str(a))

b=list(set(a))
c=1
for i in b:
    c*=i
print ("Duplication removal list product : " + str(c))

Original list : [2, 1, 2, 4, 6, 4, 3, 2, 1]

TypeError: 'list' object is not callable

In [60]:
##33. Write a Python Program to Extract elements with Frequency greater than K Sample Output
###[4, 6, 4, 3, 3, 4, 3, 7, 8, 8]


a = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
print("Original list : " + str(a))
K = 2
 
res = []
for i in a:	
    freq = a.count(i)
    if freq > K and i not in res:
        res.append(i)
 
print("The Required Elements : " + str(res))

Original list : [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
The Required Elements : [4, 3]

In [63]:
##34. Write a Python Program to Test if List contains elements in Range Sample Output
##[4, 5, 6, 7, 3, 9]
##Does list contain all elements in range : True


a = [4, 5, 6, 7, 3, 9]
print("Original list is : " + str(a))
 
i, j = 3, 10
res = True
for e in a:
    if e < i or e >= j :
    res = False
      break
print ("Does list contain all elements in range : " + str(res))

IndentationError: expected an indented block after 'if' statement on line 12 (1258537425.py, line 13)

In [65]:
###35. Write a Python program to check if the list contains three consecutive common numbers in Python
##Sample Output 
##[18, 18, 18, 6, 3, 4, 9, 9, 9] 
###Three Consecutive common numbers = 18, 9

a = [18, 18, 18, 6, 3, 4, 9, 9, 9]
l = len(a)
for i in range(l - 2):
    if a[i] == a[i + 1] and a[i + 1] == a[i + 2]:
    print(a[i])

IndentationError: expected an indented block after 'if' statement on line 4 (3231800610.py, line 5)

In [66]:
###36. Write a Python program to find the Strongest Neighbour Sample Output
###[10,20,30,20,30,400]
##20 30 30 30 400

n = 6
a1 = [10,20,30,20,30,400]
a2 = []	
for i in range(1, n):
    r = max(a1[i], a1[i-1])
    a2.append(r)
for i in a2 :
    print(i,end=" ")

20 30 30 30 400

In [67]:
###37. Write a Python Program to print all Possible Combinations from the three Digits Sample Output
##[1, 2, 3]
##1 2 3
##1 2 3
##1 3 2
##2 1 3
##2 3 1
##3 1 2
##3 2 1

a = [1, 2, 3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(a[i], a[j], a[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [69]:
###38. Write a Python program to find all the Combinations in the list with the given condition Sample Output
##['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
##[ ['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education'] ]

val = ["Tutor Joes",["Software","Computer"],["Solution", "Education"]]
print("Original List : " + str(val))
a = 2
l = []
c = 0
while c <= a - 1:
    t = []
    for i in val:
        if not isinstance(i, list):
            t.append(i)
        else:
            t.append(i[c])
    c += 1
    l.append(t)
print("\nIndex Combinations : " + str(l))

Original List : ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [70]:
###39. Write a Python program to get all unique combinations of two Lists
##Sample Output
###['A','B','C']
###[1,2,3]
###[ [('A', 1), ('B', 2), ('C', 3)], [('A', 1), ('C', 2), ('B', 3)], [('B', 1), ('A', 2), ('C', 3)], [('B', 1), ('C', 2), ('A', 3)], [('C', 1), ('A', 2), ('B', 3)], [('C', 1), ('B', 2), ('A', 3)] ] 

import itertools
from itertools import permutations
l1 = ['A','B','C']
l2 = [1,2,3]
unique = []
permut = itertools.permutations(l1, len(l2))
for comb in permut:
    zipped = zip(comb, l2)
    unique.append(list(zipped))
print(unique)

TypeError: 'list' object is not callable

In [71]:
###40. Write a Python program to remove all the occurrences of an element from a list Sample Output
###[1, 3, 4, 6, 5, 1]
##[3, 4, 6, 5]

val = [1, 3, 4, 6, 5, 1]
a = 1
print ("Original list :" ,val)
c = val.count(a)
for i in range(c):
    val.remove(a)
print ("Remove operation :" , val)

Original list : [1, 3, 4, 6, 5, 1]
Remove operation : [3, 4, 6, 5]

In [72]:
###41. Write a Python Program to Remove Consecutive K element records
###Sample Output
###[ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
### [ ('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C') ]


val = [('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]
print("Original List : " + str(val))
K = 'C'
res = [i for i in val if not any(i[j] == K and i[j + 1] == K for j in range(len(i) - 1))]
 
print("After Removal : " , res)

Original List : [('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]
After Removal :  [('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [73]:
###42. Write a Python Program to Replace index elements with elements in Other List Sample Output
###['Tutor Joes', 'Computer', 'Education']
###[2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
###['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education'] 

a = ['Tutor Joes', 'Computer', 'Education']
b = [2 ,1 ,0 ,1 ,0 ,2 ,2 ,0 ,1 ,0 ,1 ,2]
print("List 1 : " , a)
print("List 2 : " , b)
res = [a[i] for i in b]
 
print ("After Index Elements Replacements is : " ,res)

List 1 :  ['Tutor Joes', 'Computer', 'Education']
List 2 :  [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
After Index Elements Replacements is :  ['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [75]:
###43. Write a Python Program to Retain records with N occurrences of K Sample Output
###[(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
##K = 5
##N = 2
##[4, 5, 6, 5, 4), (5, 5, 2)]

val = [(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
print(val)
K = 5
N = 2
res = [e for e in val if e.count(K) == N]
print(res)

[(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
[(4, 5, 6, 5, 4), (5, 5, 2)]

In [76]:
###44. Write a Python Program to Swap elements in String list Sample Output
###['Tutor', 'joes', 'Computer', 'Education']
###['Tutor', "Joe's", 'Software', 'Solutions']

s = ["Tutor","joes","Computer","Education"]
print("Before Swap :",s) 
res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in s]
print ("After Swap : ",res)

Before Swap : ['Tutor', 'joes', 'Computer', 'Education']
After Swap :  ['Tutor', "Joe's", 'Software', 'Solutions']

In [77]:
###45. Write a Python program to reverse All Strings in String List
##SAmple output
###Original list = ['Tutor', 'joes', 'Computer', 'Education']
###Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE']
###Reversed list = ['Education', 'Computer', 'joes', 'Tutor']

val = ["Tutor","joes","Computer","Education"]
print ("Original list : ", val)
 
#First Methods
 
res = [i[::-1] for i in val]
print ("Reversed list : " , res)
 
#Second Methods
print("Reversed list : " ,val[::-1])

Original list :  ['Tutor', 'joes', 'Computer', 'Education']
Reversed list :  ['rotuT', 'seoj', 'retupmoC', 'noitacudE']
Reversed list :  ['Education', 'Computer', 'joes', 'Tutor']

In [78]:
###46. Write a Python program to find the character position of Kth word from a list of strings Sample Output
##['Tutor', 'joes', 'Computer', 'Education']
##K = 20
##Index of character at Kth position word: 3

val = ["Tutor","joes","Computer","Education"]
print("The original list is : " ,val)
K = 20
res = [i[0] for sub in enumerate(val) for i in enumerate(sub[1])]
res = res[K]
print("Index of character at Kth position word : " + str(res))

The original list is :  ['Tutor', 'joes', 'Computer', 'Education']
Index of character at Kth position word : 3

In [79]:
###47. Write a Python Program to Prefix frequency in string List Sample Output
##['TjC', 'TjCpp', 'TjPython', 'Java']
##Prefix = 'Tj'
##Strings count with matching frequency : 3

val = ["TjC","TjCpp","TjPython","Java"]
print("Original List : ",val)
sub = 'Tj'
res = 0
for e in val:
    if e.startswith(sub):
        res = res + 1
print ("Strings count with matching frequency : ",res)

Original List :  ['TjC', 'TjCpp', 'TjPython', 'Java']
Strings count with matching frequency :  3

In [80]:
###48. Write a Python Program to Split Strings on Prefix Occurrence Sample Output
##['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
##Prefix = 'Tj'
##[ ['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj'] ]

l = ["TjC","TjCpp","TjPython","Java","tj"]
print("The original list is : ",l)
pref = "Tj"
 
res = []
for val in l:
    if val.startswith(pref):
        res.append([val])
    else:
        res[-1].append(val)
print("Prefix Split List : " + str(res))

The original list is :  ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
Prefix Split List : [['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj']]

In [81]:
###49. Write a Python program to Replace all Characters of a List Except the given character
###Sample Output
###['P', 'Y', 'T', 'H', 'O', 'N']
###['@', '@', 'T', '@', '@', '@']

val = ['P', 'Y', 'T', 'H', 'O', 'N']
print("The original list : " + str(val))
 
res = [i if i == 'T' else '@' for i in val]
print("List after replacement : " + str(res))

The original list : ['P', 'Y', 'T', 'H', 'O', 'N']
List after replacement : ['@', '@', 'T', '@', '@', '@']

In [83]:
###50. Write a Python Program to Add Space between Potential Words Sample Output
###['TutorJoes', 'ComputerEducations']
###[' Tutor Joes', ' Computer Educations']

val = ["TutorJoes", "ComputerEducations"]
print("Original list : " ,val)
res = []
for i in val:
    t = [[]]
    for ch in i:
        if ch.isupper():
        t.append([])
        t[-1].append(ch)
    res.append(' '.join(''.join(i) for i in t))
print("The space added list of strings : " , res)

IndentationError: expected an indented block after 'if' statement on line 11 (2765621154.py, line 12)