In [4]:
###1. Write a Python program to create a tuple Sample Output
##Tuple = ()

a = ()
print(a)
print(type(a))

()
<class 'tuple'>

In [5]:
###2. Write a Python program to create a tuple with different data types Sample Output
###('Tutor Joes', True, 'T', 3.21, 10)

a = ('Tutor Joes', True, 'T', 3.21, 10)
print(a)

('Tutor Joes', True, 'T', 3.21, 10)

In [11]:
###3. Write a Python program to create a tuple with numbers and print one item Sample Output
##10
##Type = tuple

a = 10,
print(a)
print(type(a))

(10,)
<class 'tuple'>

In [14]:
####4. Write a Python program to unpack a tuple in several variables Sample Output
###a = 4, 8, 3
###(4, 8, 3)

a = 4,8,3
print(a)
a, b, c = a
print("a =", a)
print("b =", b)
print("c =", c)

(4, 8, 3)
a = 4
b = 8
c = 3

In [15]:
a = 4,8,3
print(a)
n1, n2, n3 = a
print(n1, n2, n3)

(4, 8, 3)
4 8 3

In [18]:
###5. Write a Python program to add an item in a tuple Sample Output
###(10, 40, 50, 70, 90)
##add items in list = 20
##(10, 40, 50, 70, 90, 20)

a = (10, 40, 50, 70, 90)
print(a)
a = a + (20,)
print(a)

(10, 40, 50, 70, 90)
(10, 40, 50, 70, 90, 20)

In [19]:
###6. Write a Python program to convert a tuple to a string Sample Output
###('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
###Tutor Joes

a = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
b = ''.join(a)
print(b)

Tutor Joes

In [20]:
###7. Write a Python program to get the 4th element and 4th element from last of a tuple Sample Output
###('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
###4th Elements From Tuple : e
###4th Elements From Last Tuple : u

c = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
print(c)
i = c[3]
print("4th Elements From Tuple :",i)
j = c[-4]
print("4th Elements From Last Tuple :",j)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th Elements From Tuple : e
4th Elements From Last Tuple : u

In [23]:
####8. Write a Python program to create the colon of a tuple Sample Output
###("Tutor", 'J', 23 , 56.67 , [23,12] , True)
###Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

from copy import deepcopy

t = ("Tutor", 'J', 23 , 56.67 , [23,12] , True) 
print(t)

tc = deepcopy(t)
tc[4].append(50)
print(tc)
print(t)

('Tutor', 'J', 23, 56.67, [23, 12], True)
('Tutor', 'J', 23, 56.67, [23, 12, 50], True)
('Tutor', 'J', 23, 56.67, [23, 12], True)

In [26]:
###9. Write a Python program to find the repeated items of a tuple Sample Output
###(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
###item = 2
####Repeated items of a tuple = 3


t = (2,34,45,6,7,2,4,5,78,34,2)
print(t)
count = t.count(2)
print(count)

(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
3

In [27]:
####10. Write a Python program to check whether an element exists within a tuple Sample Output
##('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
###8 in Tuple = True
###'x' in Tuple = False

t = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
print(8 in t)
print('x' in t)

True
False

In [28]:
###11. Write a Python program to convert a list to a tuple Sample Output
###[12, 45, 87, 54, 89, 4]
###(12, 45, 87, 54, 89, 4)

l = [12,45,87,54,89,4]
print(l)
print(type(l))
t = tuple(l)
print(t)
print(type(t))

[12, 45, 87, 54, 89, 4]
<class 'list'>
(12, 45, 87, 54, 89, 4)
<class 'tuple'>

In [31]:
###12. Write a Python program to remove an item from a tuple Sample Output
###(23, 45, 56, 68, 10, 45, 7, 9)
###Remove = 56
###(23, 45, 68, 10, 45, 7, 9)

a = (23,45,56,68,10,45,7,9)
print(a)
b = list(a)
b.remove(56)
a = tuple(b)
print("After Removing A :",a)

(23, 45, 56, 68, 10, 45, 7, 9)
After Removing A : (23, 45, 68, 10, 45, 7, 9)

In [33]:
###13. Write a Python program to slice a tuple Sample Output
###(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
###(40, 50, 60, 70, 80)

a = (10,20,30,40,50,60,70,80,90,100)
print(a[3:8])

(40, 50, 60, 70, 80)

In [35]:
###14. Write a Python program to find the index of an item of a tuple Sample Output
###(23, 45, 67, 78, 89, 90, 34, 56)
###Item = 78
###Index Number : 3

a = (23,45,67,78,89,90,34,56)
print("Index Number :",a.index(78))

Index Number : 3

In [36]:
###15. Write a Python program to find the length of a tuple Sample Output
###("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
###Length : 6


a = ("Lion","Cat","Dog","Panda","Tiger","Fox")
print("Length :",len(a))

Length : 6

In [1]:
###16. Write a Python program to convert a tuple to a dictionary Sample Output
###( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) ){ 'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422 }

t = (("Name", "Ram"),("Age", 23),("City", "Salem"),("Mark", 422))
print(dict((k,v) for k, v in t))

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

In [2]:
###17. Write a Python program to unzip a list of tuples into individual lists
##Sample Output
##[ (10,30), (60,90), (20,50) ]
##[ (10, 60, 20), (30, 90, 50) ]

l = [(10,30), (60,90), (20,50)]
print(list(zip(*l)))

[(10, 60, 20), (30, 90, 50)]

In [4]:
###18. Write a Python program to reverse a tuple
###Sample Output
###Before Reverse : ( 23, 45, 67, 78, 89, 90, 34, 56 )
##After Reverse : ( 56, 34, 90, 89, 78, 67, 45, 23 )

a = (23,45,67,78,89,90,34,56)
print("Before Reverse :",a)
print("After Reverse :",a[::-1])

Before Reverse : (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse : (56, 34, 90, 89, 78, 67, 45, 23)

In [5]:
###19. Write a Python program to convert a list of tuples into a dictionary
##Sample Output
##[ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female") ]
##{ 'Name' : ['Ram', 'Pooja'], 'Age' : [21, 23], 'Gender' : ['Male', 'Female'] }

l = [("Name", "Ram"), ("Name", "Pooja"), ("Name", "Sara"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female"), ("Gender", "Female") , ("Age", 22)]
dic = {}
for x, y in l:
    dic.setdefault(x, []).append(y)
print (dic)

{'Name': ['Ram', 'Pooja', 'Sara'], 'Age': [21, 23, 22], 'Gender': ['Male', 'Female', 'Female']}

In [6]:
##20. Write a Python program to print a tuple with string formatting
##Sample Output
##("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
##Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')


t = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
print('Fruits {0}'.format(t))
print (dic)

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')
{'Name': ['Ram', 'Pooja', 'Sara'], 'Age': [21, 23, 22], 'Gender': ['Male', 'Female', 'Female']}

In [7]:
###21. Create a tuple with single item 23
###Sample Output
###Create a tuple with Item = 23
##Type = tuple

t= (23)
print(t)
print(type(t))
tup = (23,)
print(tup)
print(type(tup))

23
<class 'int'>
(23,)
<class 'tuple'>

In [8]:
###22. Unpack the tuple into 5 variables
###Sample Output
##Tuple = (11, 22, 333, 44, 55)
##11
##22
##33
##44
##55

t = (11, 22, 33, 44, 55)
m, n, p, q, r = t
print(m)
print(n)
print(p)
print(q)
print(r)

11
22
33
44
55

In [10]:
###23. Swap two tuples in Python
##Sample Output
##Before Swap A : 10
##Before Swap B : 20
##After Swap A : 20
##After Swap B : 10

a=10
b=20
print("Before Swap A :",a)
print("Before Swap b :",b)

t = a
a = b
b = a
print("After Swap A :",a)
print("After Swap b :",b)

Before Swap A : 10
Before Swap b : 20
After Swap A : 20
After Swap b : 20

In [11]:
###24. Copy specific elements from one tuple to a new tuple
##Sample Output
##(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
##(30, 40, 50, 60, 70, 80)

t1 = (10,20,30,40,50,60,70,80,90,100)
t2 = t1[2:8]
print(t2)

(30, 40, 50, 60, 70, 80)

In [14]:
###25. Modify the tuple
##Sample Output
##( 10, 20, 30, 40, 50 )
##( 10, 20, 33, 40, 50 )

t1 = (10,20,30,40,50)
print("Original Tuple :",t1)
l = list(t1)
l[2]=33
t1 = tuple(l)
print("Modify Tuple :",t1)

Original Tuple : (10, 20, 30, 40, 50)
Modify Tuple : (10, 20, 33, 40, 50)

In [15]:
###26. Sort a tuple of tuples by 2nd item
##Sample Output
##( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )
##( ('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53) )

t = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
t = tuple(sorted(list(t), key=lambda x: x[1]))
print(t)

(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

In [16]:
##27. Counts the number of occurrences of item 30 from a tuple
##Sample Output
##(30, 50, 10, 30, 70, 50, 30)
##Number of Counts 30 : 3

t = (30, 50, 10, 30, 70, 50, 30)
print("Number of Counts 30 :",t.count(30))

Number of Counts 30 : 3

In [17]:
##28. Write a Python program to compute element-wise sum of given tuples
###Sample Output
##A = (2, 5, 8)
##B = (6, 5, 1)
##C = (1, 4, 7)
##D = (3, 7, 2)
##Sum of Elements = (12, 21, 18)


a = (2, 5, 8)
b = (6, 5, 1)
c = (1, 4, 7)
d = (3, 7, 2)
print("A :",a)
print("B :",b)
print("C :",c)
print("D :",d)
res = tuple(map(sum, zip(a, b, c, d)))
print("Sum of Elements:",res)

A : (2, 5, 8)
B : (6, 5, 1)
C : (1, 4, 7)
D : (3, 7, 2)
Sum of Elements: (12, 21, 18)

In [18]:
##29. Write a Python program to sort a tuple by its float element
##Sample Output
##[ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
##[ ('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43') ]

Percent = [('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40')]
print( sorted(Percent, key=lambda a: float(a[1]), reverse=True))

[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [19]:
##30. Write a Python program to replace last value of tuples in a list
##Sample Output
##[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
##Replace value = 10
##[(5, 2, 10),(4, 7, 10),(8, 9, 10)]

l = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print([t[:-1] + (10,) for t in l])

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [20]:
##31. Write a Python program to Extract tuples having K digit elements
##Sample Output
##[ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]
##K = 2
##[ (47, 23), (22, 53) ]

val = [(47, 23), (3, 78), (22, 53), (121, 45), (7, )]
print("Original List : " ,val)
K = 2
res = [sub for sub in val if all(len(str(ele)) == K for ele in sub)]
print("Extracted Tuples : " ,res)

Original List :  [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
Extracted Tuples :  [(47, 23), (22, 53)]

In [21]:
###32. Write a Python program to Extract Symmetric Tuples
##Sample Output
##[ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
##{ (2, 9), (18, 23) }


val = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
print("The original list is : " ,val)
temp = set(val) & {(b, a) for a, b in val}
res = {(a, b) for a, b in temp if a < b} 
print("The Symmetric tuples : " , res)

The original list is :  [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
The Symmetric tuples :  {(2, 9), (18, 23)}

In [24]:
##33. Write a Python program to Sort Tuples by their Maximum element
###Sample Output
##[ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
##[ (19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2) ]

val = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
print("The original list is : " + str(val))
s = sorted(list(val))
s.reverse()
print("Sorted Tuples : " , s)

The original list is : [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
Sorted Tuples :  [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [25]:
##34. Write a Python program to Remove nested records from tuple
##Sample Output
##(10, 20, (30,), 40, (50, 60), 70)
##Removal of Nested Tuple : (10, 20, 40, 70)

val = (10, 20 , (30,), 40, (50, 60), 70)
print("Original Tuple : " , val)
res=[]
for i in val:
    if not type(i) is tuple:
    res.append(i)
res=tuple(res)
print("Removal of Nested Tuple : " ,res)

IndentationError: expected an indented block after 'if' statement on line 10 (3960997033.py, line 11)

In [26]:
###35. Write a Python program to Elements Frequency in Mixed Nested Tuple
##Sample Output
##(10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
##Elements Frequency : {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}


def flatten(val):
    for e in val:
        if isinstance(e, tuple):
            yield from flatten(e)
        else:
        yield e
val = (10, 20, (20, 10), 30, (40, 50, 60), 60 ,70)
print("The Original Elements : " ,val)
res = {}
for i in flatten(val):
    if i not in res:
        res[i] = 0
        res[i] += 1

IndentationError: expected an indented block after 'else' statement on line 11 (85190670.py, line 12)

In [27]:
###36. Write a Python program to get unique elements in nested tuple
##Sample Output
##[ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]
##Unique Element in Nested Tuples : [1, 3, 5, 4, 7, 2, 6, 10, 9]

val = [(1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,)]
print("The original ljst : " ,val)
res = []
s = set()
for i in val:
    for j in i:
        if not j in s:
        s.add(j)
        res.append(j)
print("Unique Element in Nested Tuples : " ,res)

IndentationError: expected an indented block after 'if' statement on line 12 (3577540374.py, line 13)

In [28]:
##37. Write a Python program to Concatenate tuples to nested tuples
##Sample Output
###Tuple 1 : ((18, 23, 2, 9),)
##Tuple 2 : ((10, 3, 11),)
##Tuples after Concatenating : ((18, 23, 2, 9), (10, 3, 11))

tup1 = (18 , 23 , 2 , 9),
tup2 = (10 , 3 , 11),
print("Tuple 1 : ",tup1)
print("Tuple 2 : ",tup2)
res = tup1 + tup2
print("Tuples after Concatenating : ",res)

Tuple 1 :  ((18, 23, 2, 9),)
Tuple 2 :  ((10, 3, 11),)
Tuples after Concatenating :  ((18, 23, 2, 9), (10, 3, 11))

In [29]:
###38. Write a Python program to Sort by Frequency of second element in Tuple List
###Sample Output
##[ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ]
##Sorted List of tuples : [ (2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8) ]

from collections import Counter
val = [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
print("Original List : " , val)
freq = Counter(val for key, val in val)
res = sorted(val, key = lambda e: freq[e[1]], reverse = True)
print("Sorted List of tuples : " , res)

Original List :  [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
Sorted List of tuples :  [(2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8)]

In [30]:
###39. Write a Python program to Sort lists in tuple
##Sample Output
##( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
##Tuple after sorting list : ( [10, 50, 60], [20, 30, 80], [40, 70, 100], [90] )

val = ([10, 50, 60], [80, 20, 30], [70, 100, 40],(90,))
print("Original Tuple is : " , val)
res = tuple((sorted(i) for i in val))
print("Tuple after sorting list : ",res)

Original Tuple is :  ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))
Tuple after sorting list :  ([10, 50, 60], [20, 30, 80], [40, 70, 100], [90])

In [31]:
##40. Write a Python program to Order Tuples using external List
###Sample Output
##[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
##Ordered Tuple List : [ ('A', 67), ('B', 68), ('C', 69), ('D', 70) ]

val = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
print("Original List : ", val)
ord_list = ['A', 'B', 'C', 'D']
temp = dict(val)
res = [(key, temp[key]) for key in ord_list] 
print("The Ordered Tuple List : " , res)

Original List :  [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
The Ordered Tuple List :  [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

In [34]:
###41. Write a Python program to Filter Tuples by Kth element from List Sample Output
##[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
##List of kth elements to filter = [67 , 70 , 71, 75]
##Kth element index = 1
###Filtered tuples : [('D', 70), ('A', 67)]

val = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
print("The original list is : " + str(val))
kth = [67 , 70 , 71, 75]
K = 1
res = [s for s in val if s[K] in kth]
print("The filtered tuples : " + str(res))

The original list is : [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
The filtered tuples : [('D', 70), ('A', 67)]

In [35]:
##42. Write a Python program to Closest Pair to Kth index element in Tuple
##Sample Output
##[ (23, 18), (9, 2), (2, 3), (9, 18), (23, 2) ]
##Given Tuple = (20, 2)
##Kth Element Index = 1
##Nearest Tuple : (23, 18)

val = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
print("List : " ,val)
t = (20, 2)
K = 1
res = min(range(len(val)), key = lambda sub: abs(val[sub][K - 1] - t[K - 1]))
print("Nearest Tuple : " ,val[res])

List :  [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
Nearest Tuple :  (23, 18)

In [36]:
##43. Write a Python program to Tuple List intersection (Order irrespective) Sample Output
##List 1 : [ (3, 4), (5, 6), (9, 10), (4, 5) ]
##List 2 : [ (5, 4), (3, 4), (6, 5), (9, 11) ]
##Intersection : { (4, 5), (5, 6), (3, 4) }

val1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
val2 = [(5, 4), (3, 4), (6, 5), (9, 11)]
print("List 1 : ",val1)
print("List 2 : ",val2)
res = set([tuple(sorted(ele)) for ele in val1]) & set([tuple(sorted(ele)) for ele in val2])
print("List after intersection : ",res)

List 1 :  [(3, 4), (5, 6), (9, 10), (4, 5)]
List 2 :  [(5, 4), (3, 4), (6, 5), (9, 11)]
List after intersection :  {(4, 5), (5, 6), (3, 4)}

In [37]:
###44. Write a Python program to Intersection in Tuple Records Data Sample Output
##list 1 : [ ('A', 65), ('D', 68), ('B', 66) ]
##list 2 : [ ('D', 68), ('C', 67), ('A', 65) ]
##Intersection of data records : [ ('A', 65), ('D', 68) ]

l1 = [('A' , 65), ('D' , 68), ('B' , 66)]
l2 = [('D' , 68), ('C' , 67), ('A' , 65)]
print("list 2 : " , l2)
print("list 1 : " , l1)
res = [i for i in l1
    for j in l2 if i == j]
print("Intersection of data records : ",res)

list 2 :  [('D', 68), ('C', 67), ('A', 65)]
list 1 :  [('A', 65), ('D', 68), ('B', 66)]
Intersection of data records :  [('A', 65), ('D', 68)]

In [38]:
##45. Write a Python program to Unique Tuple Frequency (Order Irrespective)
##Sample Output
##[ (3, 4), (1, 2), (4, 3), (5, 6) ]
##Unique tuples Frequency : [(1, 2), (3, 4), (5, 6)]
##Unique tuples Frequency Count : 3

val = [(3, 4), (1, 2), (4, 3), (5, 6)]
print("Original list : ",val)
l = list(set(tuple(sorted(s)) for s in val))
res = len(l)
print("Unique tuples Frequency :",l)
print("Unique tuples Frequency Count : " ,res)

Original list :  [(3, 4), (1, 2), (4, 3), (5, 6)]
Unique tuples Frequency : [(1, 2), (3, 4), (5, 6)]
Unique tuples Frequency Count :  3

In [39]:
##46. Write a Python program to Skew Nested Tuple Summation Sample Output
##(1, (2, (3, (4, (5, None)))))
##Summation of 1st positions : 15

val = (1, (2, (3, (4, (5, None)))))
print("Tuple : ",val)
res = 0
while val:
    res += val[0]
    val = val[1]
print("Summation of 1st positions : " ,res)

Tuple :  (1, (2, (3, (4, (5, None)))))
Summation of 1st positions :  15

In [40]:
###47. Write a Python program to Convert Binary tuple to Integer Sample Output
##(1, 0, 1, 0)
##Decimal number is : 10

val = (1 , 0 , 1 , 0)
print("Original tuple : " ,val)
res = int("".join(str(i) for i in val), 2)
print("Decimal number is : " ,res)

Original tuple :  (1, 0, 1, 0)
Decimal number is :  10

In [41]:
##48. Write a Python program to Tuple XOR operation Sample Output
###Tuple 1 : (10, 4, 6, 9)
###Tuple 2 : (5, 2, 3, 3)
###XOR tuple : (15, 6, 5, 10)

tup1 = (10, 4, 6, 9)
tup2 = (5, 2, 3, 3)
print("Tuple 1 : " ,tup1)
print("Tuple 2 : " ,tup2)
res = tuple(e1 ^ e2 for e1, e2 in zip(tup1, tup2))
print("The XOR tuple : " + str(res))

Tuple 1 :  (10, 4, 6, 9)
Tuple 2 :  (5, 2, 3, 3)
The XOR tuple : (15, 6, 5, 10)

In [43]:
###49. Write a Python program to AND operation between Tuples Sample Output
##Tuple 1 : (10, 4, 6, 9)
##Tuple 2 : (5, 2, 3, 3)
##AND operation Between Tuple : (0, 0, 2, 1)

tup1 = (10, 4, 6, 9)
tup2 = (5, 2, 3, 3)
print("Tuple 1 : ",tup1)
print("Tuple 2 : ",tup2)
res = tuple(map(lambda i, j: i & j, tup1, tup2))
print("AND operation Between Tuple : ",res)

Tuple 1 :  (10, 4, 6, 9)
Tuple 2 :  (5, 2, 3, 3)
AND operation Between Tuple :  (0, 0, 2, 1)

In [44]:
##50. Write a Python program to Elementwise AND in tuples Sample Output
##Tuple 1 : (10, 4, 6, 9)
##Tuple 2 : (5, 2, 3, 3)
##Elementwise AND Tuple : (0, 0, 2, 1)

tup1 = (10, 4, 6, 9)
tup2 = (5, 2, 3, 3)
print("Tuple 1 : ",tup1)
print("Tuple 2 : ",tup2)
res = tuple(e1 & e2 for e1, e2 in zip(tup1, tup2))
print("The AND tuple : ",res)

Tuple 1 :  (10, 4, 6, 9)
Tuple 2 :  (5, 2, 3, 3)
The AND tuple :  (0, 0, 2, 1)